.logo_txt {
  font-size: 30px;
  font-weight: 700;
  color: whitesmoke;
}

.container {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.img {
  height: 40px;
}

.subtitle {
  color: gold;
  word-wrap: break-word;
}
